{% extends "layout.html" %}

{% block content %}
<section class="section-color-brown d-flex flex-column justify-content-center">

    <div class="align-self-center text-center py-l w-75">
        <h1 class="cnc-header-white py-4">Best Deals</h1>
        <p class="cnc-header-white">
            Whether it's New Years, Christmas, or any other day of the year, there's always a good reason to 
            celebrate at C&C AUTO . We have so many special offers available that can help make it more convenient 
            to get hold of one of our exciting and stylish vehicles. Stop by C&C AUTO for a test drive today.
        </p>
    </div>

    <div class="align-self-center w-75 pb-4">
        <div class="pb-4">
            <div class="card-group">
                <div class="card card-size-m">
                    <img src="../static/images/specials_car_interior.webp" class="card-img-top" alt="...">
                    <div class="card-body p-4">
                        <h5 class="card-title cnc-header-aqua">2011 Razda Sport Sedan</h5>
                        <p class="card-text">We know you've been putting off purchasing a vehicle until the price and time were just right. Now there's no excuse because both are perfect. Stop by C&C AUTO to test drive a 2011 Razda Sport Sedan today. Then drive away from our showroom with an incredible vehicle knowing you saved a bundle of money with such an unbelievable price.</p>
                    </div>
                </div>
                <div class="card card-size-m">
                    <img src="../static/images/specials_gray_car.webp" class="card-img-top" alt="...">
                    <div class="card-body p-4">
                        <h5 class="card-title cnc-header-aqua">2015 Nord Focus SE Sedan</h5>
                        <p class="card-text">Save big on this sleek ride with all the extra features included. We want to give everyone who walks into our dealership the opportunity to purchase the vehicle of their dreams. Our sale on the 2015 Nord Focus SE Sedan is only available for a limited time, so you better act fast. Contact a member of our team today.</p>
                    </div>
                </div>
                <div class="card card-size-m">
                    <img src="../static/images/specials_gray_car_2.webp" class="card-img-top" alt="...">
                    <div class="card-body p-4">
                        <h5 class="card-title cnc-header-aqua"> 2016 Dorsche Macan S</h5>
                        <p class="card-text">Strike while the iron is hot, and you should take advantage of this incredible offer before it cools off. This vehicle is everything you need at an unbelieveable price. Select from a variety of colors and feature add-ons to customize the 2016 Dorsche Macan S to your liking. This is an offer that truly cannot be refused.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
